* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.nav-bar {
  width: 100%;
  box-shadow: 0 0 10px black;
  padding: 20px 36px;
  height: 70px;
  display: flex;
}
.logo {
  max-width: 100px;
}
section {
  padding: 20px;
}
.hero {
  display: flex;
  flex-direction: column;
}
.hero--photo {
  max-width: 400px;
  align-self: center;
}
.hero--header {
  margin-bottom: 16px;
}
.hero--text {
  margin-top: 0;
}
